.table-input-group{
  max-width: 400px;
  text-align: left;
}
.editIcon, .deleteIcon{
  cursor: pointer;
}
.save-btn.btn-info, .save-btn.btn-info:hover, .cancel-btn.btn-danger , .cancel-btn.btn-danger:hover{
  color: #fff;
  font-weight: 700;
  padding: 3px 10px;
  font-size: 14px;
}

.table{
  table-layout: fixed;
}

.menus{
  background-color: #000;
  padding: 10px 0px;
}
.menus li span{
  color: #fff;
  font-size: 20px;
  margin: 0px 40px;
  transition: all .3s ease-in-out;
  padding: 0;
  cursor: pointer;
}
.menus li span:hover{
  color: #fff;
  border-bottom: 1px solid #fff;
}


/* =======form-css===== */
.login-form form {
  background-color: #fff;
  max-width: 500px;
  width: 100%;
  margin: auto;
  padding: 35px;
}

.login-form {
  background-color: #f7f7f7;
  min-height: 100vh;
}